@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  text-align: start !important;
}
.react-datepicker-wrapper {
  width: 100%;
}

/* Estilo para la barra de desplazamiento vertical */
.app-sidebar::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra de desplazamiento */
}

.app-sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

.app-sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color del "pulgar" de la barra de desplazamiento */
}

.app-sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del "pulgar" cuando se pasa el cursor sobre él */
}

.content-table-user{
margin-top: 20px;
margin-bottom: 20px;
}

/* Estilos generales de la sidebar */
.app-sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.app-sidebar-header {
  padding: 20px;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.brand-logo h1 {
  margin-left: 10px;
  font-size: 18px;
}

/* Estilos de los menús */
.menu {
  flex-grow: 1;
  overflow-y: auto;
}

.menu-header {
  padding: 10px 20px;
  background: #555;
  color: #fff;
  font-weight: bold;
}

.menu-divider {
  height: 1px;
  background: #666;
  margin: 10px 0;
}

/* Estilos de los submenús */
.submenu-item {
  padding: 10px 20px;
  cursor: pointer;
  color: #ddd;
}

.submenu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.submenu-icon {
  margin-right: 10px;
}

.submenu-children {
  display: none;
  margin-left: 20px;
}

.submenu-children.show {
  display: block;
}

.menu-item .menu-link {
  display: flex;
  align-items: center;
  color: #ccc;
  text-decoration: none;
  padding: 10px 0;
}

.menu-icon {
  margin-right: 10px;
}